* {
  box-sizing: border-box;
}

body {
  background-color: #282D35;
  margin: auto;
  font-family: Inter;
}

nav {
  display: flex;
  align-items: center;
  padding: 30px 25px;
  background-color: #21222A;
  height: 90px;
}

.nav--icon {
  width: 30px;
}

.nav--icon_text, .nav--title {
  margin: 0;
}

.nav--icon_text {
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

.nav--title {
  color: #DEEBF8;
  font-weight: 600;
}

.nav--icon {
  height: 30px;
  margin-right: 7px;
}

.main--container {
  background-color: #282D35;
  padding: 57px 27px;
  position: absolute;

}

.main--title {
  margin: 0px;
  font-family: Inter;
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  line-height: 47px;
  letter-spacing: -0.05em;
}

.main--facts {
  padding-top: 26px;
  max-width: 400px;
  height: 190px;
}

.main--facts > li {
  color: #ffffff;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-block: 10px;
}
